<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReaperAdmin.Properties.Settings.ReaperConnectionString"
            connectionString="Data Source=londonbikers.com;Initial Catalog=MotoFeed;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>